discord~=2.3.2
discord-py~=2.5.2
requests~=2.32.4
sqlalchemy>=2.0.0
psycopg2~=2.9.10
datetime~=5.5
feedparser~=6.0.11
Pillow~=11.3.0
regex==2023.10.3
pydantic~=2.4.2
aiohappyeyeballs~=2.6.1
aiohttp~=3.12.15
aiosignal~=1.4.0
annotated-types~=0.7.0
attrs~=25.3.0
certifi~=2025.8.3
charset_normalizer~=3.4.2
feedparser~=6.0.11
frozenlist~=1.7.0
greenlet~=3.2.3
idna~=3.10
multidict~=6.6.3
propcache~=0.3.2
pydantic-core~=2.10.1
python-dotenv~=1.1.1
pytz~=2025.2
requests~=2.32.4
typing-extensions~=4.14.1
urllib3~=2.5.0
yarl~=1.20.1